body{
    margin-left: 10%;
    padding: 1% 1% 1% 1%;
    height: auto;
}

p{
    width: 85%;
}

.comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.borderClass{
    display: flex;
    flex-wrap:wrap;
}

.task-comment-input-form{
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
}
.comment-test{
    width: 250%;
}